# TODO: change this when next version of openwisp_users is released
openwisp-users @ https://github.com/openwisp/openwisp-users/tarball/issues/253-register-menu-groups
# TODO: change this when next version of openwisp_utils is released
openwisp-utils[rest] @ https://github.com/niteshsinha17/openwisp-utils/tarball/gsoc/new-navigation-menu-design
django>=3.0,<3.2
swapper~=1.1
xlrd~=1.1
django-reversion~=3.0.8
